 body{
            margin: 0;
        }

        .grid { 
            width: 100vw; 
            min-height: 100vh; 
        }

        nav{
            background-color: #d4d7db;
            color: #0c2941;
            display: flex;
            justify-content: space-between;
            grid-area: menu;
        }

        div .icono{
            height: 30px;
            margin-top: 7px;
            margin-left: 5px;
        }

        .logo{
            width: 70px;
            height: 70px;
            border-radius: 10%;
        }

        .menu{
            display: flex;
            align-items: center;
            margin-right: 10px;
            justify-content: center;
            background-color:#d4d7db;
            color: #0c2941;
            border: 0;
        }

        /*LINKS*/
        .links{     /* lista de enlaces (oculta en móvil) */
            display:none;
            list-style:none; 
            margin:0;
            padding:0;
        }

        /*FILTRO*/
        section{
            background-color: rgb(226, 223, 223);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 5px;
            height: 80px;
            grid-area: filtro;
        }
        
        .filtro p{
            margin-top: 0;
            margin-bottom: 5px;      
        }

        .filtro select{
            width: 20rem;
            height: 30px;
        }

        /*SECCION PRINCIPAL*/
        main{
            display: flex;
            flex-direction: column;
            justify-content: center;  
            align-items: center;
            margin-top: 10px;
            grid-area: seccion-principal;
        }

        .cards{
            display: grid;
            grid-template-columns: 1fr; /* solo una columna */
        }

        @media (max-width: 575px) {
        .cards .card:not(:first-child) {
                display: none;
            }
        }

        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid rgb(224, 222, 222);
            gap:12px;
        }

        .card img{
            width: 80%;
            height: 80%;
            filter: grayscale(100%);       /* blanco y negro */
            transition: filter 0.4s ease;  /* animación suave */
        }

        .card img:hover {
            filter: grayscale(0%);         /* vuelve a color */
        }

        .paginacion button{
            color: #2a45f7 ;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        /*FOOTER*/
        footer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background:#0c2941;
            padding-top: 10px;
            padding-bottom: 10px;
            color: #ffffff;
            grid-area: pie-de-pagina;
        }

        .pie p{
            margin-bottom: 0;
            margin-top: 5px;
        }

        .grid{
            display: grid;
            grid-template-rows: auto auto auto auto;
             grid-template-areas:
            "menu"
            "filtro"
            "seccion-principal"
            "pie-de-pagina";
        }

       
        @media (min-width: 576px){
        .grid{      
            min-height: 100vh;                  /* ocupa todo el alto */
            grid-template-areas:
            "menu filtro"
            "menu seccion-principal"
            "pie-de-pagina seccion-principal"; 
            grid-template-columns: 200px 10fr;
            grid-template-rows: auto 1fr auto; 
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
        }

        /*NAVEGACION*/
        nav{
            flex-direction:column;
            justify-content: flex-start;
            align-items:center;
            padding:16px 12px;
        }

        div .icono{
            height: 150px;
        }

        .logo{
            width: 128px;
            height: 128px;
            border-radius: 10%;
        }

        .menu{ 
            display:none;  /*OCULTA EL BOTON MENU*/
        }     
        
        
        .links{ 
            display:block;/* mostramos el menú lateral */     
        }

        .links a{
            display:block; 
            padding:10px 14px; 
            color:#0c2941; 
            text-decoration:none;
            width: 8rem;
        }

        li:hover{
            background-color: #f7f7f7;
            border-radius: 5%;
        }
        
        a{
            font-size: 30px;
        }

        .filtro{
            padding-bottom: 15px;
        }

        .filtro p{
            margin-top: 0;
            margin-bottom: 5px;
            font-size: 30px;      
        }
   
        .filtro select{
            width: 90%;
            height: 50px;
            font-size: 30px;
        }

        .card{
            width: 90%;
            height: 100%;
            margin-left: 15px;
        }

        main p{
            font-size: 30px;
        }

        button{
            height: 60px;
            width: 9rem;
            font-size: 20px;
        }

        footer{
            text-align: center;
            font-size: 30px;
        }
    }